<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA89kZ_0VxgAAWIOi45UnLnRTJvZbowOeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>693968989868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseImageStorage</string>
	<key>PROJECT_ID</key>
	<string>galleryapp-df005</string>
	<key>STORAGE_BUCKET</key>
	<string>galleryapp-df005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693968989868:ios:1bab9911c224df25133909</string>
</dict>
</plist>